@model HastaneBilgiSistemi.Models.MultipleModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<div class="container">
    <h3>Mevcut Bölümler</h3>
    <table>
        <tr>
            <th>Bölüm</th>
            <th></th>
        </tr>

        @{
            if (Model != null)      //controller'dan gönderilen model boş degil ise
            {
                foreach (var Data in Model.bolumler1)   //controllerdan gönderilen bolumler1 modelindeki verilerin hepsini döndür
                {
                    <tr>
                        <td>@Data.Bolum</td>
                        <td>
                            <a asp-action="BolumEkle" asp-route-id="@Data.Id"><button class="btn btn-secondary btn-block" type="button">Düzenle</button></a>
                            <a asp-action="Delete" asp-route-id="@Data.Id"><button class="btn btn-danger btn-block" type="button">Sil</button></a>
                        </td>
                    </tr>
                }

            }
        }
    </table>


</div>
